* {
    box-sizing: border-box;
}

body {
    height: 100%;
    display: grid;
}

.hidden {
    display: none;
}

.nav-holder {
    background: red;
    top: 0;
    border: dashed;
    height: 5vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.links {
    text-decoration: none;
}

.home {
    background: red;
}